
<div id="main">
<h2 class="style1" style="text-align:center">メンバーを招待する</h2>
  <br><br>
  <div class="container para">
    <div class="col-md-6 col-md-offset-4 " >
      <%=form_for(:session, url: memberinvite_url) do |f| %>
        <%= f.label :チャンネル名, "Workspace Name :"%>
        <%= f.label:workspace_name, @m_workspace.workspace_name%> 
        <br><br>
        <%= f.select(:channelid, @m_channels.all.collect {|p| [ p.channel_name, p.id ] }, { :prompt => "Please select channels"}, 
        { :multiple => true, :size => 5, class: "form-control" }) %>
        <%= f.label :email%>
        <%= f.text_field :email, class:'form-control'%> 
        <%= f.submit "Invite Member", class: "btn btn-primary" %>
        <% end %>
    </div>
  </div>
                                
                                
                           
</div>
<div>
    <%= render 'leftpanel/leftpanel' %>
</div>
