<% provide(:title, 'Welcome') %>

<h1>CMM Chat Applicationからようこそ</h1>

<div class="container para">
	<p >
	チームのメンバーが連携しながら仕事を進める場。それがビジネスコラボレーションハブの「CMM Chat Application」です。
	パブリックチャンネルでメッセージを共有すると、CMM Chat Application 全体で情報の透明な流れが生まれます。
	</p>
	<p>
	CMM Chat Applicationはグループチャット、1対1のメッセージング（Direct Message）をWebサービスとして提供している。
	ユーザはまず「ワークスペース」に属し、 ワークスペース内に存在する話題別のチャットルーム（チャンネル）に参加したり、 
	同じワークスペースに属する他のユーザへダイレクトメッセージを送ったりしてコミュニケーションを行う。
	また、複数のワークスペースを管理・運用する大企業向けプランとして「CMM Chat Application Enterprise Grid」が存在する。
	</p>
	
</div>

<div class="container para">
<h1 style="text-align: left; font-size: 20px">Developed by:</h1>
	<div class="row float-center">
		<div class="col-md-2" style="width: 150px; height: 150px;">
		<div class="thumbnail" style=" border-radius: 50%">
			<%= link_to image_tag("man7.jpg", alt: "Rails logo"),'https://www.facebook.com/kyawsan.win.5458', target: '_blank' %>
			<p style= "font-size: 12px">Mr. Kyaw San Win</p>
		</div>
		</div>
		<div class="col-md-2" style="width: 150px; height: 150px;">
		<div class="thumbnail" style=" border-radius: 50%">
			<%= link_to image_tag("man3.png", alt: "Rails logo"),'https://www.facebook.com/nyinyi.minthant.9', target: '_blank'  %>
			<p style= "font-size: 12px">Mr. Nyi Nyi Min Thant</p>
		</div>
		</div>
		<div class="col-md-2" style="width: 150px; height: 150px;">
		<div class="thumbnail" style=" border-radius: 50%">
			<%= link_to image_tag("woman4.jpg", alt: "Rails logo"),'https://www.facebook.com/smilegirl.lay.73', target: '_blank'  %>
			<p style= "font-size: 12px">Ms. Su Myat Phyo</p>
		</div>
		</div>
		<div class="col-md-2" style="width: 150px; height: 150px;">
		<div class="thumbnail" style=" border-radius: 50%">
			<%= link_to image_tag("woman5.jpg", alt: "Rails logo"),'https://www.facebook.com/hnin.lay.1481169', target: '_blank'  %>
			<p style= "font-size: 12px">Ms. Aye Myat Hnin</p>
		</div>
		</div>
		<div class="col-md-2" style="width: 150px; height: 150px;">
		<div class="thumbnail" style=" border-radius: 50%">
			<%= link_to image_tag("man9.jpg", alt: "Rails logo"),'https://www.facebook.com/MyoMinNaing.mmn', target: '_blank' %>
			<p style= "font-size: 12px">Mr. Myo Min Naing</p>
		</div>
		</div>
		<div class="col-md-2" style="width: 150px; height: 150px;">
		<div class="thumbnail" style=" border-radius: 50%">
			<%= link_to image_tag("man18.png", alt: "Rails logo"),'https://www.facebook.com/pyaephyoe.aung.737', target: '_blank'  %>
			<p style= "font-size: 12px">Mr. Pyae Phyo Aung</p>
		</div>
		</div>
		<div class="col-md-2" style="width: 150px; height: 150px;">
		<div class="thumbnail" style=" border-radius: 50%">
			<%= link_to image_tag("woman3.jpg", alt: "Rails logo"),'https://www.facebook.com/hninwai.lwin.3344913', target: '_blank'  %>
			<p style= "font-size: 12px">Ms. Hnin Wai Lwin</p>
		</div>
		</div>
	</div>
</div>

  

