<!-- 20190916 Create by Myo Min Naing@CyberMissions Myanmar Company limited -->
<div id="dialogoverlay"></div>
<%= render 'direct_show/show' %>
<div id="dialogbox" style="padding:20px;">
    <%=form_for(@direct_message) do |f| %>
      <%= f.hidden_field :id %>
      <%= f.label :"Edit Message", style:'font-size:20px;font-weight:bold;margin:0 0 10px 35%;'%>
      <%= f.text_field:directmsg, class:'form-control', autofocus:true %>
      <%= f.hidden_field :read_status %>
      <%= f.hidden_field :send_user_id %> 
      <%= f.hidden_field :receive_user_id %>
      <span id="btn">
      <%= f.submit "Update",class:"btn btn-primary btn-sm", style:'width:90px;'%>
      <%= button_tag t('buttons.cancel'), type: "submit", name: "cancel", value: true, class:"btn btn-primary btn-sm", style:'width:90px;'%>
      </span>
    <% end %>
</div>
  <div>
    <%= render 'leftpanel/leftpanel' %>
  </div>
 
<!-- 20190916 Create by Myo Min Naing@CyberMissions Myanmar Company limited -->
