<div id="main">
<% provide(:title, "Change Password") %>

  <div class="container para">
    <div class="col-md-6 col-md-offset-4">
    <h1>Change Password</h1>
      <br>
      <%= form_for(@m_user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
          
          <%= f.label :email %>
          <div>
          <%= @m_user.email %>
          </div>
            <br>
        
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>

          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>

        <%= f.submit "Update", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

<div>
    <%= render 'leftpanel/leftpanel' %>
</div>
