
<div id="main"> 
<%= render 'group_show/groupmsglists' %>
  <div class = "textboxbg">
    <div class="textbox">
      <% if @m_channelsids.include?session[:s_channel_id].to_i%>
          <%= form_for(:session, url: groupmsg_path) do |f| %>
            <!-- yehtetaung -->
            <div class="col-md-2" style="color:black;">
                <%= f.file_field :attachement %>
            </div>
            <!-- yehtetaung -->
            <div class="col-md-9 text-left">
              <%= f.text_field :message, class: 'form-control', id: 'emojionearea1' %>
            </div>

            <div class="col-md-1">
              <%= f.submit "Send", class: "btn btn-primary"%>
            </div>
            <%= f.hidden_field :memtion_name, class: 'memtion_name' %>
          <% end %>
        <% else %>
          <div style="padding-bottom: 20px" >
            <%= link_to "Join into channel", channeluserjoin_path(userid: session[:user_id]), class: 'btn btn-primary'%>
          </div>
        <% end %>
    </div>
  </div>

<div>
    <%= render 'leftpanel/leftpanel' %>
</div>

<script>
$(document).ready(function() {
    $("#emojionearea1").emojioneArea({
        pickerPosition: "top",
        tonesStyle: "bullet",
        autocomplete: true,
        events: {
            ready: function() {
                this.editor.textcomplete([{
                    id: 'emojionearea',
                    match: /\B@([\-\d\w]*)$/,
                    search: function (term, callback) {
                        // this code must be replaced with your
                        // load mentions from ajax
                        var mentions = <%= raw @names %>;
                        callback($.map(mentions, function (mention) {
                        return mention.indexOf(term) === 0 ? mention : null;
                        }));
                    },
                    template: function (value) {
                        return '<b>' + value + '</b>&nbsp;';
                    },
                    replace: function (value) {
                        $('.memtion_name').val(value);
                        return '<b>@' + value + '</b>&nbsp;';
                    },
                    cache: true,
                    index: 1
                }]);
            }
        }
    });
});

</script>

