   
<div class = "txtmsg">	
        <% @count = 0 %>
        <div id="directlist">
                <div class = "title">			
                        <h2 class="style1">
                                <!-- Profile Yin Yin Aye -->
                                <% unless (@s_user_info.present?) %>
                                        <%= image_tag "userimg.jpg", :class => "img-circle", :size => "45x45" %>
                                <% else %>
                                        <% unless (@s_user_info.profile_image.present?) %>
                                                <%= image_tag "userimg.jpg", :class => "img-circle", :size => "45x45" %>
                                        <% else %>
                                                <%= image_tag @s_user_info.profile_image.url, :class => "img-circle", :size => "45x45" %>
                                        <% end %>
                                <% end %>
                                <!-- Profile Yin Yin Aye -->
                                <%= @s_user.name%><%= link_to "",  viewprofile_path , class:'fa fa-info-circle', style: 'float:right;color:rgb(57, 76, 105);'%>
                        </h2>
                        <!-- Thu Zin Tun -->
                        <% if @s_user.active_status == true %>
                                <span class="style2" style="color:green;">active now</span>
                        <% else %>
                                <% if (@time_d / 60) < 60 %>
                                        <span class="style2" style="color:green;"> <%= Time.at(@time_d).utc.strftime("%M mins ")  %> ago</span>
                                <% elsif (@time_day) < 24 %>
                                        <span class="style2" style="color:green;"> <%= Time.at(@time_d).utc.strftime("%H hours %M mins ")  %> ago</span>
                                <% else %>
                                        <span class="style2" style="color:green;"> <%= (@s_user.updated_at).strftime("%d-%m-%y %H:%M:%S") %> ago</span>
                                <% end %>
                        <% end %>
                        <!-- Thu Zin Tun -->
                </div>
                <div class="style1" style="padding-top: 80px">
                        <%= link_to "Load More",  refresh_direct_url , class:'glyphicon glyphicon-refresh', style: 'word-spacing: -0.63em;'%>
                </div>
                <% @t_direct_messages.each do |t_direct_message| %>
                        <p class="style21"><%= @count += 1 %></p>
                        <p class="style22">
                                <!-- Message Profile Yin Yin Aye -->
                                <% @msg_profiles.each do |msg_profile| %>
                                        <% if msg_profile.user_id == t_direct_message.send_user_id %>
                                                <% unless (msg_profile.present?) %>
                                                        <%= image_tag "userimg.jpg", :class => "img-circle", :size => "30x30" %>
                                                <% else %>
                                                        <% unless (msg_profile.profile_image.present?) %>
                                                                <%= image_tag "userimg.jpg", :class => "img-circle", :size => "30x30" %>
                                                        <% else %>
                                                                <%= image_tag msg_profile.profile_image.url, :class => "img-circle", :size => "30x30" %>
                                                        <% end %>
                                                <% end %>
                                        <% end %>
                                <% end %>
                                <!-- Message Profile Yin Yin Aye -->
                                <%= t_direct_message.name%>
                        </p> 
                        <p class="style23">
                                <%= t_direct_message.created_at.strftime('%B %d %Y, %l:%M%P') %>
                                <%
                                 @seconds_diff = (Time.zone.now - t_direct_message.created_at).to_i.abs

                                @days = @seconds_diff / (3600 * 24)
                                @hours = @seconds_diff / 3600
                                @seconds_diff -= @hours * 3600

                                @minutes = @seconds_diff / 60
                                @seconds_diff -= @minutes * 60

                                @seconds = @seconds_diff
                                %>
                        </p>
                        <p class="style24"><%= link_to t_direct_message.count,  t_direct_message, class: 'fab fa-facebook-messenger'%></p>
                        <% if @t_direct_star_msgids.include? t_direct_message.id %>
                                <%= link_to "",  unstar_path(:id => t_direct_message.id), class:'fas fa-star'%>
                        <% else %>
                                <%= link_to "",  star_path(:id => t_direct_message.id), class:'far fa-star'%>
                        <% end %>
                        <!-- 20190916 Create by Myo Min Naing@CyberMissions Myanmar Company limited -->
                        <% if t_direct_message.send_user_id == session[:user_id]%>
                                <%= link_to "", directmsgedit_path(:id => t_direct_message.id), class:'fa fa-edit', style: 'margin-left: 10px;' %>
                                <%= link_to "",  delete_directmsg_path(:id => t_direct_message.id), class:'fa fa-trash', style: 'margin-left: 10px;'%>
                        <% end %>
                        <!-- 20190916 Create by Myo Min Naing@CyberMissions Myanmar Company limited -->                                       
                        <!--  Update by Myo Min Naing@CyberMissions Myanmar Company limited -->
                        <div class="text-justify style3">
                                <span style="border-radius:10px;padding:5px;background-color:#42c5ed;color: black;"><%= content_with_emoji t_direct_message.directmsg%></span>
                                <% if t_direct_message.send_user_id==session[:user_id] %>
                                        <% if t_direct_message.read_status== true %>
                                                <a class="badge" style="color:green;background-color:lightgrey; size:3px;cursor:default;">seen</a>
                                        <% else %>
                                                <a class="badge" style="color:green;background-color:lightgrey; size:3px;cursor:default;">sent</a>
                                        <% end %>
                                <% end %>
                        </div>
                        <!--  Update by Myo Min Naing@CyberMissions Myanmar Company limited -->

                        <!-- yehtetaung -->
                        <div style="padding-top:10px;">
                                <% @attachment.each do |attach|%>
                                        <% if t_direct_message.id == attach.id %>
                                                <p class="style3"><%=link_to "Download file", t_direct_message.attachement_url%></p>
                                                <% if ['jpg', 'jpeg', 'png','gif'].include?(t_direct_message.attachement.file.extension.downcase) %>
                                                        <p class="style3"><%= image_tag t_direct_message.attachement.url,:size => '260x180' %> <p class="style3">
                                                <% elsif ['mp4', 'mov'].include?(t_direct_message.attachement.file.extension.downcase) %>
                                                        <p class="style3"><%= video_tag t_direct_message.attachement.url, :size => "720x240", :controls => true, autoplay: true, loop: true %></p>
                                                <%else%>
                                                        <p class="style3"> --> <%= t_direct_message.attachement.file.filename %></p>
                                                <% end %>
                                        <% end %>
                                <% end %>
                        </div>
                        <!-- yehtetaung -->
                        <hr>
                <% end %>
        </div>
</div>

 <script>
        window.scrollTo(0,document.body.scrollHeight);
 </script>



